db/
incremental_db/
greybox_tmp/
hc_output/
hc_incremental_db/
output_files/
hps_isw_handoff/
.qsys_edit/

simulation/
rtl_work/
work/
*.mpf
*.cr.mti
*.wlf
modelsim.ini

*.rpt
*.summary
*.sof
*.pof
*.jdi
*.pin
*.done
*.qws
*.bak
*.txt
*.log
*.chg

!Scripts/
!Scripts_Testbench/
!*.qpf
!*.qsf
/db
