!*.qpf
!*.qsf
!Scripts/
!Scripts_Testbench/

db/
/db
incremental_db/
greybox_tmp/
hc_output/
hc_incremental_db/
output_files/
hps_isw_handoff/
.qsys_edit/

*.sof
*.pof
*.jdi
*.pin
*.done
*.qws
*.bak
*.rpt
*.summary
*.ipinfo

simulation/modelsim/
rtl_work/
work/
*.mpf
*.cr.mti
*.wlf
modelsim.ini
vsim.wlf
msim_transcript

*.txt
*.log
*.chg
*.ddb

!*.v
!*.vhd
!*.sv